*{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    justify-content:space-between;
    padding: 20px 0;
}

ul{
    display:flex;
    gap:10px;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

a ,p{
    text-decoration:none;
    font-size: 18px;
    color: #E5E7EB;

}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
#Hero{
    background-color: #1F2937;
    padding: 0 200px 0 120px;
    display: flex;
    flex-direction: column;
}
#Hero .container{
    display: flex;
    gap: 50px;
    padding:100px 0;
    flex:1 1 0
}
#Hero h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.button{
    background-color: #3882F6;
    border-radius:5px;
    color: #E5E7EB;
    border: none;
    padding: 8px 3px;
    width: 100px; 
    font-weight: bold;  
}
#Hero p{
    margin-bottom: 10px;
}
#Hero img{
    flex: 1 1 0;
   width :450px;
   height:250px;
}
.text{
    flex:1 1 0;
}
#tile-area{
    padding:0 200px 0 120px;
}
#tile-area h1{
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    text-align: center;
    margin: 35px 0;
}
.tile-container{
    display: flex;
    gap :50px;
    justify-content: center;
    margin-bottom: 100px;
}
.tile{
    width: 150px;
}
.card{
    width: 150px;
    height:150px;
    border-width: 5px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 20px;
}
.tile p{
    margin: 15px 0;
    color: #1F2937;
    text-align: center;
}
#quote{
    padding: 150px 250px;
    background-color: #E5E7EB;
}
.quote-text{
    font-size: 36px;
    font-weight: 100;
    font-style:italic;
    color: #1F2937;
}
.author{
    color: #1F2937;
    text-align: right;
    font-size: 36px;
    font-weight:bold;
}
#action{
   padding: 100px 200px 100px 120px;
}
#action .container{
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
}
#action .text{
    padding: 50px 100px;
}
#action .button{
    border-color: #F9FAF8;
    border-style: solid;
    margin: 0 100px;
}
#action h2{
    font-weight: bolder;
    color:#E5E7EB;
    margin:5px 0;
}