*{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    justify-content:space-between;

}

ul{
    flex :0 1 300px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

a{
    text-decoration:none;
    font-size: 18px;
    color: #E5E7EB;

}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
#Hero{
    background-color: #1F2937;
    padding: 0 100px 0px 100px;
}